/* comments */

:root {
    --blue: #0065fc;
    --lightblue: #deebff;
    --white: #fff;
    --gray: #f2f2f2;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    margin-top: 4px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: relative;
    top: 0;
    padding: 0 0;
}

section {
    padding: 0 20px;
    box-sizing: border-box;
}

footer {
    background-color: var(--gray);
    padding: 20px;
}

footer div {
    padding-right: 100px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

h1,
h2 {
    font-size: 1.17em;
}

h3 {
    font-size: 0.83em;
}

footer h2 {
    font-size: 1.08em;
}

.hover-pointer:hover {
    cursor: pointer;
}

/* Text styles */
.text-nowrap {
    white-space: nowrap;
}

/* Font changes */
.bold {
    font-weight: 1000;
}

.text-blue {
    color: var(--blue);
}

/* Object sizes */
.h-20 {
    height: 20px;
}

.h-12 {
    height: 12px;
}

/* Margins and paddings */
.mb-4 {
    margin-bottom: 4px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-4 {
    margin-top: 4px;
}

.ml-4 {
    margin-left: 4px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mr-4 {
    margin-right: 4px;
}

.pt-12 {
    padding-top: 12px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

/* Icons */
.icon-blue {
    fill: var(--blue);
    color: var(--blue);
}

.icon-gray {
    color: lightgray;
}

.in-circle {
    height: 16px;
    padding: 4px 12px;
    border: 2px solid var(--gray);
    border-radius: 30px;
}

/* List styles */
.nolist {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-ai-center {
    align-items: center;
}

.flex-ai-stretch {
    align-items: stretch;
}

.flex-jc-l {
    justify-content: left;
}

.flex-jc-spb {
    justify-content: space-between;
}

.flex-jc-spa {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* Form */
.search-form {
    display: flex;
    height: 44px;
    box-sizing: border-box;
}

.search-form button {
    font-size: large;
    background-color: var(--blue);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 0;
    padding: 12px;
    border: 1px solid var(--blue);
}

.search-form input {
    font-size: large;
    border: 1px solid var(--gray);
    padding: 0 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.resp-button > i {
    display: none;
    border-radius: 4px;
}

.search-form label {
    background-color: var(--gray);
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 4px 0 0 4px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search Results */
.card-content {
    padding-left: 4px;
    padding-bottom: 4px;
}
/* .card > div:nth-child(2) {
    padding-left: 4px;
    padding-bottom: 4px;
} */

/* .card-hor > div:nth-child(2) {
    padding-left: 4px;
    padding-bottom: 4px;
} */

#sec_search-results > div {
    /* box-sizing: border-box; */
    background-color: var(--gray);
    border-radius: 16px;
    padding: 12px;
}

#hebergements {
    /* max-width: 724px; */
    margin: 12px;
}

#populaires {
    /* width: 330px; */
    margin: 12px;
}

.star-inactive {
    filter: grayscale(100%);
    opacity: 0.3;
}

.card {
    background-color: white;
    max-width: 350px;
    border: 3px solid white;
    border-radius: 16px;
    box-shadow: 3px 3px 3px lightgray;
    margin: 12px;
}

.card-title {
    margin-bottom: 4px;
}

.card-maintitle {
    height: 20px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
}

.card-hor {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-width: 264px;
    border: 3px solid white;
    border-radius: 16px;
    box-shadow: 3px 3px 3px lightgray;
    margin: 12px;
}

.card-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top: 1px solid white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-img-left {
    width: 100px;
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    border-left: 1px solid white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card-subtitle {
    font-size: small;
    margin-bottom: 4px;
}

.activites-grid {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 44% 12% 44%;
    justify-items: stretch;
}

.activites-grid > .card {
    max-width: 1000px;
}

.span-2 {
    grid-row: 2 span;
}

.full-height {
    grid-row: 3 span;
}

.full-height > .card-img {
    height: 300px;
}

.span-2 > .card-img {
    height: 150px;
}

/* Section styles */
.filters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.filters p {
    margin-right: 20px;
}

.li-filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid var(--gray);
    border-radius: 24px;
    padding: 3px 4px;
    margin-left: 16px;
    margin-right: 16px;
}

.li-filter i {
    color: var(--blue);
    position: relative;
    left: -20px;
    width: 20px;
    height: 20px;
    background-color: var(--lightblue);
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid var(--lightblue);
    border-radius: 24px;
    margin: -4px 0;
    margin-left: 4px;
}

.li-filter p {
    margin: 0 12px 0 -4px;
}

.li-filter:hover {
    border-color: var(--lightblue);
    color: var(--blue);
}

.header-nav {
    display: grid;
    height: 100px;
    grid-template-columns: 30% 40% 10% 10% 10%;
    grid-template-areas: 'logo . nav1 nav2 insc';
    text-align: center;
}
.header-nav span {
    padding-top: 30px;
}
.hd-logo {
    grid-area: logo;
    text-align: left;
    margin-left: 20px;
}
.hd-insc {
    grid-area: insc;
    margin-right: 20px;
}

.hd-insc a {
    color: var(--blue);
    font-weight: 600;
}

.hd-heberg {
    grid-area: nav1;
}
.hd-act {
    grid-area: nav2;
}

.hd-navlinks.active {
    border-top: 4px solid var(--blue);
    padding-top: 26px;
}

/* Tablettes */
@media screen and (max-width: 991px) {
    .li-filter {
        margin-left: 4px;
        margin-bottom: 12px;
    }

    #sec_search-results {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    #sec_search-results > div {
        background-color: white;
        border-radius: 0;
        box-sizing: border-box;
        max-width: 991px;
        width: 100%;
        margin: 0;
    }

    div#hebergements > h3,
    div#populaires > div {
        margin-left: 20px;
    }

    div#populaires {
        background-color: var(--gray);
    }

    #populaires-cards {
        flex-flow: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card {
        min-width: 268px;
        max-width: 312px;
    }

    .card-hor {
        max-width: 268px;
        width: auto;
        max-height: 112px;
    }

    .activites-grid {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }

    .span-2,
    .full-height {
        grid-row: 1 span;
    }

    .card > .card-img {
        height: 100px;
    }

    .header-nav {
        height: 120px;
        grid-template: 1fr 1fr/1fr 1fr;
        grid-template-areas: 'logo insc' 'nav1 nav2';
        padding: 20px 0px;
        align-items: center;
        row-gap: 12px;
    }
    .header-nav span {
        padding-top: 0px;
    }

    .hd-insc {
        align-self: center;
        justify-self: right;
    }

    .hd-heberg,
    .hd-act {
        padding: 12px 0px;
        justify-self: stretch;
    }

    .hd-navlinks {
        border-bottom: 2px solid gray;
    }
    .hd-navlinks.active {
        padding-top: 0;
        border-top: none;
        border-bottom-color: var(--blue);
    }
    .hd-navlinks.active a {
        color: var(--blue);
    }

    footer {
        width: 100%;
    }
}

/* Smartphones */
@media screen and (max-width: 768px) {
    .resp-button > span {
        display: none;
    }

    .resp-button > i {
        display: block;
    }

    footer {
        flex-direction: column;
    }

    .activites-grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }

    #populaires-cards {
        flex-wrap: wrap;
    }
}

/* Very small screens */
@media screen and (max-width: 350px) {
    .search-form input {
        max-width: 70%;
        font-size: medium;
    }
}
